* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: sans-serif;
  background-image: linear-gradient(to right, #232526, #414345);
  color: rgb(240, 240, 240);
}

i,
svg {
  pointer-events: none;
}

.sequencer {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.kick-pad,
.snare-pad,
.hihat-pad {
  width: 5rem;
  height: 5rem;
  margin: 1rem 0.5rem;
  cursor: pointer;
}

.pad {
  border-radius: 1rem;
  transition: all 0.5 ease;
}

.kick-pad {
  background: rgb(238, 195, 145);
}

.snare-pad {
  background: rgb(145, 145, 238);
}

.hihat-pad {
  background: rgb(201, 145, 238);
}

.kick-pad.active {
  background: rgb(209, 139, 58);
}

.snare-pad.active {
  background: rgb(65, 65, 212);
}

.hihat-pad.active {
  background: rgb(153, 65, 212);
}

@media only screen and (max-width: 75em) {
  .hihat-track,
  .snare-track,
  .kick-track {
    flex-direction: column;
  }
  .controls {
    width: 100%;
    margin-bottom: 1rem !important;
    justify-content: space-evenly !important;
  }
}

.hihat-track,
.snare-track,
.kick-track {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5rem;
}

@media only screen and (max-width: 50em) {
  .kick,
  .snare,
  .hihat {
    flex-wrap: wrap;
    justify-content: center;
  }
  .controls {
    width: 100%;
    margin-bottom: 1rem !important;
    justify-content: space-evenly !important;
  }
}

.kick,
.snare,
.hihat {
  display: flex;
}
@media only screen and (max-width: 25em) {
  h1 {
    text-align: center;
  }
  .controls {
    width: 100%;
    margin-bottom: 1rem !important;
    justify-content: space-evenly !important;
  }
}
.controls {
  display: flex;
  width: 25rem;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin: 0rem 2rem;
}

.controls button {
  padding: 1rem;
  border: none;
  background: rgb(116, 106, 106);
  border-radius: 1rem;
  color: rgb(243, 239, 239);
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.5s ease;
  outline: none;
}

.play {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  background: rgb(116, 106, 106);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 1rem;
  margin-top: 3rem;
  outline: none;
}

@media only screen and (max-width: 25em) {
  #kick-select,
  #snare-select,
  #hihat-select {
    width: 9rem;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 0.75rem;
  }
}

select {
  width: 10rem;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 1rem;
  outline: none;
  background: rgb(240, 240, 240);
}
@media only screen and (max-width: 25em) {
  #mute-btn {
    padding: 0.5rem;
    border-radius: 0.5rem;
  }
}

.mute.active {
  background: rgb(189, 174, 174);
}

.tempo {
  margin: 3rem;
  width: 30%;
}

.tempo-slider {
  padding: 0.2rem;
  -webkit-appearance: none;
  margin: 1rem 0rem;
  width: 100%;
  position: relative;
  background: rgb(116, 106, 106);
  cursor: pointer;
  border-radius: 1rem;
}
.tempo p {
  font-size: 1.5rem;
  margin: 2rem auto;
  text-align: center;
}

@keyframes playTrack {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
